

.LoginPage {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 10rem;
}


.login-form,
.login-form input,
.login-form button {
  width: 100%;
  box-sizing: border-box;
}

label {
  text-align: left;
  align-self: flex-start;
  width: 100%;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.75rem;
}

button {
  margin-top: 1rem;
  padding: 0.75rem;
  cursor: pointer;
}